.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
  border-top: 1px solid #f7f7f7;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list-link {
  position: relative;
}
.nav__badge {
  position: absolute;
  top: -8px;
  right: -9px;
  color: white;
  background-color: #e36143;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  font-size: 12px;
}
@keyframes shownavbar {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav {
  transform: translateY(100px);
  animation: shownavbar 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
